@import url(bootstrap.min.css);
@import url(gb.css);

/*banners*/
.carousel-slides{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

/*painel novidades*/
.painel h2:before {
	content: '\2756';
	padding-right: 5px;
	opacity: 0.4;
}

.painel h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.painel{
	margin-top: 10px;
	margin-bottom: 40px;
	width: 442px;
}

.novidades, .mais-vendidos{
	padding-top: 10px;
	padding-left: 10px;
}

.painel ol, ul {
	padding-left: 2px;
}

.painel figcaption{
	text-justify: left;
	max-width: 120px;
	color: rgb(44, 44, 44);
}

.painel li{
	display: inline-block;
	vertical-align: top;
	padding-bottom: 10px;
}

.painel a{
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.painel img {
	border-radius: 20px 4px 20px 4px;
	width: 116px;
}

.novidades{
	float: left;
	background-color: #32a8cc; 
}
.novidades li {
	padding-left: 14px;
}

.mais-vendidos{
	float: right;
	background-color: rgb(159, 86, 228);
}
.mais-vendidos li {
	padding-left: 17px;
}
