@import url(bootstrap.min.css);
@import url(/css/gb.css);

/*conteudo*/

div{
	margin: 0 auto;
	width: 940px;
}

div #conteudo{
	margin: 0 auto;
	width: 940px;
}


.conteudo h1{
	background-image: url(../img/sobre-background.jpg);
	margin: 10px 0;
	padding: 20px 20px;
	font-size: 30px;
	font-weight: bold;
	width: 917px;
}

p::first-letter{
	font-weight: bold;
}
/*
:not(p)	+ p::first-line	{
	font-variant: small-caps;
}*/
h1 + p{
	text-indent: 0;
}

#centro-distribuicao{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

h2{
	border-bottom: 2px solid #333333;
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
}

/*img familia pelho*/
#familia-pelho{
	float: left;
	margin: 10px 15px;
}

p{
	padding: 0 45px;
	text-indent: 15px;
}


figure{
	background-color: #F2EDED;
	border:1px solid #ccc;
	text-align: center;
	margin-top: 10px;

}

figcaption{
	font-style: italic;
	padding: 10px 0;
}

/*paragro após a img do centro de distribuição*/
.sobre p:last-child{
	padding-top: 20px;
}

/* div diferenciais*/
.diferenciais{
	padding: 20px 20px 40px 20px;
}
.diferenciais li{
	padding: 5px 0;
}